#wrapper{display:grid;
    grid-template-rows: 1fr 3fr 1fr;
grid-template-areas:
"nestedgrid"
"nestedgrid1"
    "Footer";
    }
div{border:1px solid black;}

#nestedgrid{
    grid-area: nestedgrid;
    display:grid;
grid-template-areas: "Home AboutMe Culture";
    background-color:lightsteelblue;
    color:black;
     padding:10px;
    grid-gap:10px;
        text-align:center;

}

#Home{grid-area:Home;
 background-color: darkgray;
padding:25px;
    text-align:center;

}
#AboutMe{grid-area:AboutMe;
background-color:darkgray;
padding:25px;
    text-align:center;

}
#Culture{grid-area:Culture;
background-color:darkgray;
padding:25px;
text-align:center;
}



#nestedgrid1{
    grid-area:nestedgrid1;
    display:grid;
grid-template-areas:"paragrpah photo1 photo2 paragraph2 photo3 photo4";
background-color: lightsteelblue;
    color:black;
    text-align:center;

}
#paragraph{grid-area: paragraph;
 font-size: 15px;}
#photo1{grid-area:photo1;
}

#photo2{grid-area:photo2;}

#paragraph2{grid-area: paragraph2;
 font-size: 15px;}

#photo3{grid-area:photo3;}

#photo4{grid-area:photo4;}

#Footer{grid-area:Footer;
padding:40px;
        text-align:center;
     background-color:lightsteelblue;
           color:black;

}

